
    <!DOCTYPE html>
<html lang="en">

<%-include('../partials/header')%>


    <!-- Navbar Start -->
    <%-include('../partials/navbar')%>
    
    <section class="bg-light py-3 py-md-5 d-flex align-items-center" style="height: 100vh; margin-top: -7px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
              <div class="card border border-light-subtle rounded-3 shadow-sm">
                <div class="card-body p-3 p-md-4 p-xl-5" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);">
                  <div class="text-center mb-3">
                    <i class="fa-solid fa-user" style="font-size: 40px;"></i>
                  </div>
                  <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Sign up</h2>
                  <form action="/customer/signup" method="post">
                    <div class="row gy-2 overflow-hidden">
                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="username" id="email" placeholder="UserName" required>
                          <label for="email" class="form-label">User Name</label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                          <label for="email" class="form-label">Email</label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="number" class="form-control" name="pincode" id="pincode" placeholder="pincode" required>
                          <label for="pincode" class="form-label">pincode</label>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                          <label for="password" class="form-label">Password</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-grid my-3">
                          <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                        </div>
                      </div>
                     
                      <!-- <div class="col-12">
                       <p class="m-0 text-secondary text-center">Forgot your password? <a href="/reset-password" class="link-primary text-decoration-none">Reset Password</a></p>
                     </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>